<main [class]="expanded ? 'expanded' : ''">
  <!-- <div class="background" style="background-image: url(anime.bannerImage); background-image: linear-gradient(-90deg, rgba(46, 46, 46, 0.5), rgba(10, 10, 10, 0.9) 70%), url(anime.bannerImage);"> -->
  <div class="background" [style]="banner">
    <button class="expandButton" (click)="expand()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>      
    </button>
    <img [src]="anime?.coverImage?.large" alt="#"/>
    <div class="title">
        <a [href]="watchLink" target="_blank" *ngIf="watchLink; else title" [title]="anime?.title?.romaji">{{anime?.title?.romaji}}</a>
        <ng-template #title> 
          <h2 [title]="anime?.title?.romaji">{{anime?.title?.romaji}}</h2>
        </ng-template>
        <div class="titleDetails">
          <span>{{ releaseDate | date:"HH:mm" }}</span>
          • 
          <div *ngIf="anime?.averageScore">
            <span>{{ (anime?.averageScore || 0) / 10 | number:"1.2" }}</span>
            •
          </div>
          <div>
            <span *ngIf="onWatchlist">[{{ progress }}]&#160;</span><span>{{ (anime?.nextAiringEpisode?.episode || 0) - 1 }}</span>/<span>{{anime?.episodes || "?"}}</span> Ep.
          </div> 
        </div>
    </div>
    <button class="expandButton" (click)="toggleWatchlist()">
      <span *ngIf="onWatchlist; else notOnWatchlist">-</span>
      <ng-template #notOnWatchlist>+</ng-template>
    </button>
  </div>
  <div class="progress">
    <div class="progressbar" [ngStyle]="{'width': (!expanded) ? '0%' : (((anime?.nextAiringEpisode?.episode || 0) - 1) / (anime?.episodes || 12) * 100) + '%'}"> </div>
  </div>
  <div class="information">
    <span class="score">
      <p>{{ anime?.averageScore || "?" }} / 100</p>
      <p>Score</p>
    </span>
    <span class="episodes">
      <p>{{ (anime?.nextAiringEpisode?.episode || 0) - 1 }} / {{ anime?.episodes || "?" }}</p>
      <p>Episodes</p>
    </span>
    <span class="genres">
      <p class="genre" *ngFor="let genre of anime?.genres">{{ genre }}</p>
    </span>
    <span class="descr">
      <p *ngIf="anime?.nextAiringEpisode?.episode === 1; else second">
        Releasing: {{ releaseDate | date:"MMM dd, yyyy 'at' hh:mm a" }} -> in {{ dayDiff }} Days
        <!-- .toLocaleString('de-DE',  timeZone: 'CET', hour: '2-digit', minute: "2-digit")  -->
      </p>
      <ng-template #second>
        <p>
          Airing: {{ releaseDate | date:"MMM dd yyyy 'at' HH:mm"}}
          <!-- .toLocaleString('de-DE', hour: '2-digit', minute: "2-digit") -->
        </p>
      </ng-template>
       <span [innerHTML]="anime?.description || ''"></span>
       <a class="anilistLink" [href]="'https://anilist.co/anime/' + anime?.id" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="172" height="172" viewBox="0 0 172 172">
            <defs>
              <style>
                .cls-1 {
                  fill: #02a9ff;
                }
          
                .cls-1, .cls-2 {
                  fill-rule: evenodd;
                }
          
                .cls-2 {
                  fill: #fefefe;
                }
              </style>
            </defs>
            <g>
              <path d="M111.322,111.157 L111.322,41.029 C111.322,37.010 109.105,34.792 105.086,34.792 L91.365,34.792 C87.346,34.792 85.128,37.010 85.128,41.029 C85.128,41.029 85.128,56.337 85.128,74.333 C85.128,75.271 94.165,79.626 94.401,80.547 C101.286,107.449 95.897,128.980 89.370,129.985 C100.042,130.513 101.216,135.644 93.267,132.138 C94.483,117.784 99.228,117.812 112.869,131.610 C112.986,131.729 115.666,137.351 115.833,137.351 C131.170,137.351 148.050,137.351 148.050,137.351 C152.069,137.351 154.286,135.134 154.286,131.115 L154.286,117.394 C154.286,113.375 152.069,111.157 148.050,111.157 L111.322,111.157 Z" class="cls-1"/>
              <path d="M54.365,34.792 L18.331,137.351 L46.327,137.351 L52.425,119.611 L82.915,119.611 L88.875,137.351 L116.732,137.351 L80.836,34.792 L54.365,34.792 ZM58.800,96.882 L67.531,68.470 L77.094,96.882 L58.800,96.882 Z" class="cls-2"/>
            </g>
          </svg>
          AniList Page
          <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg>
        </a>
    </span>
  </div>
</main>
