<div class="dayWrapper" *ngFor="let day of week; index as i" [ngClass]="today === days[i] ? 'today' : ''">
  <h2 [ngClass]="today === days[i] ? 'today' : ''">
    {{ days[i] }}
  </h2>
  <ul class="listWrapper">
    <div class="onWatchlistWrapper" *ngIf="weekOnWatchlist[i].length > 0">
      <div class="listSeperator">
        <div>
          <span class="watching">Watching</span>
          <span class="count">
            ({{ weekOnWatchlist[i].length }})
          </span>
        </div>
        <button (click)="openSeries(i)" title="Open all series links in new tabs">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg>
        </button>
      </div>
      <as-schedule-entry *ngFor="let anime of weekOnWatchlist[i]" [anime]="anime" class="onList{{i}}"></as-schedule-entry>
    </div>

    <span class="listSeperator" *ngIf="weekOnWatchlist[i].length > 0 && weekNotOnWatchlist[i].length > 0">Not watching</span>
    <as-schedule-entry *ngFor="let anime of weekNotOnWatchlist[i]" [anime]="anime"></as-schedule-entry>
  </ul>
</div>

