:host {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.dayWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(27, 27, 27);
  border-radius: 7px;

  h2 {
    margin-block: 20px;
  }
}

.listWrapper {
  width: 100%;
  margin-top: 0;
  padding-inline: 7px;
}

.today {
  color: rgb(206, 1, 103);
  background-color: rgb(47, 47, 47);
}

.onWatchlistWrapper {
  margin-bottom: 17px;
}

.listSeperator {
  height: 2.3em;
  width: 100%;
  padding: 0.3em 0.5em;
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(206, 1, 104, 0.5);
  border-radius: 10px;
  background-color: rgba(206, 1, 104, 0.15);
  
  .watching {
    font-weight: bold;
  }
  
  .count {
    opacity: 0.5;
  }

  button {
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: rgba(206, 1, 104, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(206, 1, 104, 0.7);
    }
  }

  svg {
    height: 1.5em;
  }
}